h1 {
  text-align: center;
  font-size: 200%;
}
p {
  text-align: center;
  font-size: 125%;
}

form {
  display: inline-block;
  width: 100%;
}
select {
  display: inline;
}

.check {
  display: block;
  width: 25%;
}
